.rowContainer {
    margin-bottom: 100px;
}

.rowContent {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly
}

.rowContent .rowDesc {
    display: flex;
}

.rowDesc .rowText {
    background: linear-gradient(to top, #1E4174 40%, transparent 40%);
}

.rowContent .placesRow {
    width: 300px;
    height: 300px;
    margin: 0px 15px;
    border-radius: 50px;
}

/*image hover*/
.placesBox{
    display:inline-block;
    position: relative;
}

.placesBox:hover:after, .placesBox:hover > .placesText {
  display:block;
}

.rowContent .placesText {
    position: absolute;
    top: 100px;
    left: 40%;
    color: #fff;
    z-index: 20;
    font-weight: 600;
    font-size: 30px;
}

.placesBox:after, .placesText{
    display:none;
}

.placesBox:after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.3); */
    background: rgba(245, 243, 243, 0.308);
    z-index: 10;
    width: 300px;
    height: 300px;
    margin: 0px 15px;
    border-radius: 50px;
}

.placesBox {
    overflow: hidden;
}
.placesBox img{
    height: 340px;
}
.placesBox:hover img{
    transition: 1s;
}

/*---------------------------------footer---------------------------------*/
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}


.footer .box-container .box {
    padding:1rem;
    text-align: center;
    border-radius: .5rem;
}
 
 .footer .box-container .box i {
    height: 2rem;
    width: 2rem;
    line-height: 1rem;
    font-size: 1.5rem;
    background-color: var(--purple);
    border-radius: 50%;
    margin-bottom: .5rem;
}
 

.footer .box-container .box h3 {
    margin:1rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;
}


.footer .box-container .box p {
    line-height: 2;
    font-size: 1rem;
}
